<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="CALCERT" class="img-responsive text-center" src="modules/core/client/img/brand/wilmington-logo.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Service Management System
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.calcert.com" target="_blank">Company Website</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to CALCERT Service Management System.</h2>
    <p>Wilmington Instrument Company is an  ISO/IEC 17025:2005 accredited calibration laboratory and full-service distributor of process and test instrumentation. We are a stable privately-owned corporation that has been in operation since 1944, and at our present location since 1950. We service a broad range of industries including petrochemical, power generation, water and wastewater management, aerospace, shipbuilding and maritime, pharmaceutical, food processing, and construction. Most importantly, we are a team of highly qualified professionals who pride ourselves in our commitment to providing the highest level of service to our customers.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Click <em>Sign In</em> if you already have an account.
      </li>
    </ul>
  </div>
</section>
