<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="article.title"></h1>
  </div>
  <!-- DL - all roles but user can edit services -->
  <div class="pull-right" >
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})" ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'supervisor' || authentication.user.roles == 'technician'">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
  <!-- DL - supervisor and admin can delete services -->
    <a class="btn btn-primary" ng-click="remove();" ng-show="authentication.user.roles == 'admin' || authentication.user.roles == 'supervisor'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="article.content"></p>
</section>
